.faculty-glyphic-regular {
    font-family: "Faculty Glyphic", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.edu-au-vic-wa-nt-pre {
    font-family: "Edu AU VIC WA NT Pre", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing:border-box; /**/
    margin: 0;
    padding: 0;
    font-family: "Poppins"; /**/
}


/*INDEX PAGE*/

.navbar {
    background: rgb(56, 185, 56);
    height:80px;
    display:flex;
    justify-content: center;
    align-items: center;
    font-size: 19px;
    position: sticky;
    top:0;
    z-index: 999;
}

.navbar_container{
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: auto auto auto auto; /* order is top right bottom left. Auto makes it adjust automatically based on device screen */
    padding: auto auto auto auto ;

}

#navbar_logo {
    background-color: rgb(56, 185, 56);
    color: white;
    font-family: 'faculty glyphic';
    /*background-image: linear-gradient(to top, #fff 0%, rgb(0, 0, 0)  ); Tried making a gradient for my Logo but looked horrible*/
    background-size: 100%;
    display: flex;
    align-items: center;
    cursor: pointer; /*when hovered over changes how the mouse looks to the click mouse*/
    text-decoration: none;
    font-size: 32px;
    
}

.navbar_menu{
    display: flex; /**/
    align-items: center;
    list-style: none; /**/
    text-align: center; /**/
}

.navbar_item{
    height: 80px;

}

.navbar_links{
    color: #ffff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 16px 0 16px;
    height: 100%;
}

/*Main Section CSS*/

.main {
    background-color: #ffff;
}

.main_container{
    display: grid;
    align-items: center;
    justify-content: center; /**/
    margin: 0 auto; /**/
    height: 90vh; /*90 view port height essentially makes it cover 90% of the screen in terms of size*/
    background-color: #ffff;
    z-index: 1; /**/
    width: 100%;
    max-width: 1300px; /**/
    padding: 0 auto; /*when doing two values only for padding/margin it does vertical then horizontal which is easier to do*/
    
}

.main_content h1 {
    font-size: 64px ;
    background-color: #ff8177;
    background-image: linear-gradient(to top, rgb(56, 185, 56) 0%, rgb(23, 235, 23) 100%) ; 
    /*Top specifies the direction the gradient flows in while the percentages indicate from beginning to end*/
    background-size: 100%;
    -webkit-background-clip: text; /*This makes the background clip through the text and so it changes how the text looks*/
    -webkit-text-fill-color: transparent; /*This makes the background we set only visible through the text and instead of making a gradient background it makes the text itself gradient */
    
}

.main_content h2{
    font-size: 30px ;
    background-color: #ff8177;
    background-image: linear-gradient(to top, rgb(29, 132, 46) 0%, green 100%) ;
    background-size: 100%;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    
}

.main_content p{
    margin-top: 16px;
    font-size: 16px;
    font-weight: 500;
    font-family: "Edu AU VIC WA NT Pre";
    color: rgb(7, 77, 7);
}

.main_img_container {
    text-align: center;
}

#main_img {
    height: 80%;
    width: 80%;
    margin: 10px auto;
    padding: 10px auto;
    
}

/* Index Footer */

.footer_container{
    background-color:rgb(56, 185, 56);
    text-align: center;
    color: white;
    position: relative;
    bottom: 0; 
    width: 100%;
}
